@model IEnumerable<eLibrary.sp_getAllSubscribedUser_Result>

@{
    ViewBag.Title = "GetAllSubscribedUser";
}
<br>
<br>
<br>
<style>
    body {
        background-image: url('https://images.unsplash.com/photo-1531685250784-7569952593d2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8d2FsbHxlbnwwfHwwfHw%3D&w=1000&q=80');
        background-size: cover;
    }
</style>

<table class="table table-bordered table-striped" style="border-radius: 10px; border: 2px solid; border-color:black">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @item.StartDate.ToShortDateString()
            </td>
            <td>
                @item.EndDate.ToShortDateString()
            </td>
        </tr>
    }

</table>
