@model IEnumerable<eLibrary.Bookcategory>

@{
    ViewBag.Title = "Get";
}
<style>
    body {
        background-image: url('https://images.unsplash.com/photo-1531685250784-7569952593d2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8d2FsbHxlbnwwfHwwfHw%3D&w=1000&q=80');
        background-size: 1000px 700px;
    }
</style>
<br>


<div class="table-bordered tables searchtbale">

    @using (@Html.BeginForm("GetBooks", "Category"))
    {
        <table>
            <tr>
                <td>CategoryName:</td>
                <td><input type="text" name="CategoryName"></td>
                <td><input type="submit" value="Search" class="btn buttonAb buttonAbc" style="margin-left: 10px;" /></td>
            </tr>
        </table>
    }
</div>
<br>
@if (User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Create New", "Create", new { }, htmlAttributes: new { @class = "buttonAb" })
    </p>
}
<br>
<table class="table table-bordered tables" style="background-color: mintcream">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CategoryName)
        </th>
        <th></th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            @if (User.IsInRole("Admin"))
            {
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.CategoryId }, htmlAttributes: new { @class = "buttonAb" })
                    @Html.ActionLink("Delete", "Delete", new { id = item.CategoryId }, htmlAttributes: new { onclick = "return confirmation()", @class = "buttonAb" })

                </td>
            }
            else
            {
                <td>
                    @Html.ActionLink("GetBooks", "GetBooks", "Category", new { CategoryName = item.CategoryName }, htmlAttributes: new { @class = "buttonAb" })
                </td>
            }
        </tr>
    }

</table>

<script>
    function confirmation() {
        const response = confirm('Are You Sure ?');
        if (response) {
            return true;
        }
        else {
            return false;
        }
    }
</script>
