@model IEnumerable<eLibrary.Bookcategory>

@{
    ViewBag.Title = "Get";
}
<style>
    body {
        background-image: url('https://images.unsplash.com/photo-1531685250784-7569952593d2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8d2FsbHxlbnwwfHwwfHw%3D&w=1000&q=80');
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>
<br>
<br>
<div class="table-bordered" style="padding:10px; border-radius:10px">

    @using (@Html.BeginForm("GetBooks", "Category"))
    {
        <table>
            <tr>
                <td>Enter CategoryName</td>
                <td><input type="text" name="CategoryName"></td>
            </tr>
            <tr>
                <td><input type="submit" value="Search" class="btn" /></td>
            </tr>
        </table>
    }
</div>
<br>
    @*<p>
            @Html.ActionLink("Create New", "Create")
        </p>*@
    <table class="table table-bordered table-striped" style="border: 1px solid black">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                @*<td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.CategoryId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.CategoryId })
                    </td>*@
            </tr>
        }

    </table>
    @*@Html.ActionLink("GetAllBooks", "GetBooks", "Book")
        @Html.ActionLink("Subscribe", "Create", "Subscription");*@
