@model IEnumerable<eLibrary.BookDetail>

@{
    ViewBag.Title = "GetBooks";
}
<style>
    body {
        background-image: url('https://images.unsplash.com/photo-1531685250784-7569952593d2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8d2FsbHxlbnwwfHwwfHw%3D&w=1000&q=80');
        background-size: cover;
    }
</style>

<br>
<br>
@if (User.IsInRole("User")) { 
    <div class="table table-bordered table-striped" style="padding:5px; border: 2px solid; border-color:black; border-radius: 10px">
        @using (Html.BeginForm("GetBookByName", "Book"))
        {
            <table>
                <tr>
                    <td>Enter Name:
                    <td>
                    <td><input type="text" name="BookName"></td>
                </tr>
                <tr>
                    <td><input type="submit" value="Search" class="btn"></td>
                </tr>
            </table>
        }
    </div>
}
else
{
    <p>
        @Html.ActionLink("Create New", "Create", new { }, htmlAttributes: new {@class = "buttonAb" })
    </p>
}
<br>
<table class="table table-bordered table-striped" style="border-radius: 10px; border: 2px solid; border-color:black">
    <tr>
        @*<th>
            @Html.DisplayNameFor(model => model.BookId)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.BookName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AuthorName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RackNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookLanguage)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.CategoryId)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Rating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>

        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            @*<td>
                @Html.DisplayFor(modelItem => item.BookId)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.BookName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AuthorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RackNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookLanguage)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.CategoryId)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @if (User.IsInRole("Admin"))
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.BookId }, htmlAttributes: new {@class = "buttonAb"}) 
                    @Html.ActionLink("Delete", "Delete", new { id = item.BookId}, htmlAttributes: new {@class = "buttonAb" })
                }
                else
                {
                    @Html.ActionLink("GetAccess", "GetAccess", "Userbook", new { id = item.BookId }, htmlAttributes: new { @class = "buttonAb" })
                }
            </td>
        </tr>

    }

</table>

