@model IEnumerable<eLibrary.BookDetail>

@{
    ViewBag.Title = "GetBooks";
}
<style>
    body {
        background-image: url('https://cdn.pixabay.com/photo/2018/08/14/13/23/ocean-3605547__340.jpg');
    }
</style>

<br>
<br>
<div class="table table-bordered table-striped getbooks">
@using (Html.BeginForm("GetBookByName", "Book")) 
{
    <table>
        <tr>
            <td>Enter Name:<td>
            <td><input type="text" name="BookName"></td>
        </tr>
        <tr>
            <td><input type="submit" value="Search" class="btn getbooks"></td>
        </tr>
    </table>
}
</div>
<br>
@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table table-bordered table-striped table-hover getbooks">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BookId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AuthorName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RackNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.C_Language)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CategoryId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>

        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BookId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BookName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AuthorName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RackNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.C_Language)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.ActionLink("GetAccess", "GetAccess","Userbook", new { id=item.BookId}, htmlAttributes: new { }) |
            @*@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
        </td>
    </tr>
    
}

</table>

