@model IEnumerable<eLibrary.sp_GetAllUsersBooks_Result>

@{
    ViewBag.Title = "GetAllUsersWithBooks";
}
<br><br><br>
<style>
    body {
        background-image: url('https://images.unsplash.com/photo-1531685250784-7569952593d2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8d2FsbHxlbnwwfHwwfHw%3D&w=1000&q=80');
        background-size: cover;
    }
</style>

<table class="table table-striped tables">
    <tr>
        <th>
            <label>UserName</label>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IssueDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubmissionDate)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BookName)
        </td>
        <td>
            @item.IssueDate.ToShortDateString()
        </td>
        <td>
            @item.SubmissionDate.ToShortDateString()
        </td>
    </tr>
}

</table>
