@model IEnumerable<eLibrary.sp_GetNotApprovedUserBooks_Result>

@{
    ViewBag.Title = "NotApprovedBooks";
}
<br><br><br>
<style>
    body {
        background-image: url('https://images.unsplash.com/photo-1531685250784-7569952593d2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8d2FsbHxlbnwwfHwwfHw%3D&w=1000&q=80');
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>

<table class="table table-bordered tables">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IssueDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookName)
            </td>
            <td>
                @item.IssueDate.Value.ToShortDateString()
            </td>
            <td>
                @Html.ActionLink("Approve", "Approve", new { detailid = item.DetailId }, htmlAttributes:new { @class = "buttonAb buttonAbc"})
                @Html.ActionLink("Delete", "DeleteUserBook", new { detailid = item.DetailId }, htmlAttributes: new { @class = "buttonAb buttonAbc" })
            </td>
        </tr>
    }

</table>
