@model eLibrary.User
@{
    ViewBag.Title = "DashBoard";
}

<br><br><br>
<style>
    body {
        background-image: url('https://cdn.pixabay.com/photo/2018/01/18/20/43/literature-3091212_1280.jpg');
        background-size: 1400px 700px;
    }
    th, tr {
        text-align: left;
        font-size:18px;
    }
    th {
        background-color: grey;
        color: black;
    }
</style>

    <div class="jumbotron dashboard">
        <h2 class="display-4">Hello @User.Identity.Name</h2>
        <hr style="color:red">
        <center>
            <table>
                <thead>
                    <tr>
                        <th><label>UserId:</label></th>
                        <th><label>@Model.UserId</label></th>
                    </tr>
                    <tr>
                        <th><label>Name:</label></th>
                        <th><label>@Model.UserName</label></th>
                    </tr>
                    <tr>
                        <th><label>Age:</label></th>
                        <th><label>@Model.Age</label></th>
                    </tr>
                    <tr>
                        <th><label>Address:</label></th>
                        <th><label>@Model.UserAddress</label></th>
                    </tr>
                    <tr>
                        <th><label>ContactNo:</label></th>
                        <th><label>@Model.ContactNo</label></th>
                    </tr>
                    <tr>
                        <th><label>Occupation:</label></th>
                        <th><label>@Model.Occupation</label></th>
                    </tr>
                </thead>
            </table>
            @Html.ActionLink("MySubscription", "Create", "Subscription", new { }, htmlAttributes: new { @class = "buttonAb buttonAbc" })

            @Html.ActionLink("MyBooks", "GetById", "UserBook", new { }, htmlAttributes: new { @class = "buttonAb buttonAbc" })
        </center><br>
        <div>
            
       
    
        </div>
    </div> 



