<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Library Management System</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("head", required: false)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" title="more options">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Library Management", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        if (User.IsInRole("User"))
                        {
                            <li>@Html.ActionLink("Categories", "Get", "Category")</li>
                            <li>@Html.ActionLink("Books", "GetBooks", "Book")</li>
                            <li>@Html.ActionLink("Subscribe", "Create", "Subscription")</li>
                            <li>@Html.ActionLink("MyBooks", "GetById", "Userbook")</li>

                            <li>@Html.ActionLink(User.Identity.Name, "DashBoard", "User")</li>
                            <li>@Html.ActionLink("Logout", "Logout", "User")</li>

                        }
                        else
                        {
                            <li>@Html.ActionLink("Cateories", "Get", "Category")</li>
                            <li>@Html.ActionLink("Books", "GetBooks", "Book")</li>
                            <li>@Html.ActionLink("SubscribedUser", "GetAllSubscribedUser", "Subscription")</li>
                            <li>@Html.ActionLink("UsersHavingBooks", "GetAllUsersWithBooks", "Userbook")</li>
                            <li>@Html.ActionLink("BooksToApprove", "NotApprovedBooks", "Userbook")</li>
                            <li>@Html.ActionLink(User.Identity.Name, "DashBoard", "User")</li>
                            <li>@Html.ActionLink("Logout", "Logout", "User")</li>
                        }

                    }
                    else
                    {
                        <li>@Html.ActionLink("Login", "Login", "User")</li>
                        <li>@Html.ActionLink("Register", "Create", "User")</li>
                    }
                </ul>
                
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        @*<br><br><br>
        <footer>
            <p>&copy; @DateTime.Now.Year - Library Management System</p>
        </footer>*@
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
